<section class="min-h-screen grid place-content-center text-center p-20">
  <h1 class="font-bold text-xl">James Toone</h1>
  <h2 class="text-gray-400 uppercase font-light mt-4">Product Designer · UX Engineer</h2>
</section>
<div>
  <div class="relative">
    <div class="sticky top-0 z-10 rotate-90 origin-[-1rem_5rem] inline-flex text-gray-400 uppercase font-light">Portfolio</div>
    <section class="min-h-screen bg-gray-800/75 grid place-content-center p-20 px-32 after:border-l-[3rem] after:border-l-transparent
       after:border-b-[3rem] after:border-b-gray-800/75
       after:border-r-[3rem] after:border-r-transparent after:w-0 after:h-0 after:absolute after:-top-[3rem] after:left-1/2 after:-translate-x-1/2 relative">
      <div>
        <h3 class="uppercase font-light bg-black inline-flex py-1.5 px-4">Allocation Chart</h3>
      </div>
      <div class="xl:grid xl:grid-cols-5 xl:gap-8 mt-8">
        <div class="col-span-2 max-w-prose">
          <p class="text-sm text-gray-100">I designed the UX and UI for the vehicle allocation chart below by ascertaining the strengths and weaknesses of the existing product and consulted current customers directly to find out which parts were liked and disliked. I compared this qualitative feedback with system analytics to see which areas of the system were most and least used. I have detailed the UX process below and repeated user tests on-site and remotely.</p>
        </div>
        <div class="col-start-3 col-span-3">
          <img class="opacity-90 mt-8 xl:mt-1.5 block transition-opacity duration-300 hover:opacity-100" src="https://i.ibb.co/zSzbdSX/allocation-chart.png" alt="Allocation Chart" loading="lazy"/>
        </div>
      </div>
    </section>
    <section class="min-h-screen bg-gray-800 grid place-content-center p-20 px-32 border-t-4 border-black relative">
      <div>
        <h3 class="uppercase font-light bg-black inline-flex py-1.5 px-4">Allocation Chart</h3>
      </div>
      <div class="xl:grid xl:grid-cols-5 xl:gap-8 mt-8">
        <div class="col-span-2 max-w-prose">
          <p class="text-sm text-gray-100">I designed the UX and UI for the vehicle allocation chart below by ascertaining the strengths and weaknesses of the existing product and consulted current customers directly to find out which parts were liked and disliked. I compared this qualitative feedback with system analytics to see which areas of the system were most and least used. I have detailed the UX process below and repeated user tests on-site and remotely.</p>
        </div>
        <div class="col-start-3 col-span-3">
          <img class="opacity-90 mt-8 xl:mt-1.5 block transition-opacity duration-300 hover:opacity-100" src="https://i.ibb.co/zSzbdSX/allocation-chart.png" alt="Allocation Chart" loading="lazy"/>
        </div>
      </div>
    </section>
    <section class="min-h-screen bg-gray-800/75 grid place-content-center p-20 px-32 border-t-4 border-black">
  <div>
    <h3 class="uppercase font-light bg-black inline-flex py-1.5 px-4">Allocation Chart</h3>
  </div>
  <div class="xl:grid xl:grid-cols-5 xl:gap-8 mt-8">
    <div class="col-span-2 max-w-prose">
      <p class="text-sm text-gray-100">I designed the UX and UI for the vehicle allocation chart below by ascertaining the strengths and weaknesses of the existing product and consulted current customers directly to find out which parts were liked and disliked. I compared this qualitative feedback with system analytics to see which areas of the system were most and least used. I have detailed the UX process below and repeated user tests on-site and remotely.</p>
    </div>
    <div class="col-start-3 col-span-3">
      <img class="opacity-90 mt-8 xl:mt-1.5 block transition-opacity duration-300 hover:opacity-100" src="https://i.ibb.co/zSzbdSX/allocation-chart.png" alt="Allocation Chart" loading="lazy"/>
    </div>
  </div>
</section>
  </div>
</div>
