<section class="min-h-screen grid place-content-center text-center p-20">
  <h1 class="font-bold text-xl">James Toone</h1>
  <h2 class="text-gray-300 uppercase font-light mt-4">Product Designer · UX Engineer</h2>
</section>
<section class="min-h-screen grid bg-gray-800 p-20">
  <div class="max-w-prose">
    <h3 class="uppercase font-light bg-black inline-flex py-1.5 px-4">Allocation Chart</h3>
    <p>I designed the UX and UI for the vehicle allocation chart below by ascertaining the strengths and weaknesses of the existing product and consulted current customers directly to find out which parts were liked and disliked. I compared this qualitative feedback with system analytics to see which areas of the system were most and least used. I have detailed the UX process below and repeated user tests on-site and remotely.</p>
  </div>
</section>
